<div class="gameroomContainer" >
<style>
  
</style>
<div *ngFor="let splash of splashes" 
[ngStyle]="{'position': 'absolute'}"
[style.height.px]="splash.size"
    [style.width.px]="splash.size"
    [style.border-radius.%]="50"
    [style.left.px]="splash.position.x" 
    [style.top.px]="splash.position.y" 
    [style.background-color]="splash.color">
    

  <!-- content here -->
</div>

<div *ngFor="let user of userInformation; index as i" class="piano" id="{{ user.name }}">
<!-- for each of the userinfomration.buttonStates, generate a div with the class of key, and a class that correspond with the buttonStates, if the state is true class = true if false, false -->
<!-- [ngClass]="[{button[j] ? 'pressed' : 'released'}]" -->
  <div *ngFor="let button of user.buttonStates index as j" [attr.itemId]="i"  class="key" [ngClass]="user.buttonStates[j]==true? 'pressed' : 'released'">
    <!-- {{button[j] ? 'pressed' : 'released'}} -->
    <div [ngStyle]="{'background-color': user.fingerColors[(27%(j+1))]}" class="finger">
    </div>
     <div [ngStyle]="{'background-color': user.fingerColors[(27%(j+1))+1]}" class="finger">
    </div>
     <div [ngStyle]="{'background-color': user.fingerColors[(27%(j+1))+2]}" class="finger">
    </div>
  </div>    

  </div>
   </div>
   <div class="splatCanvass">
   <!-- for each of the splatBits, generate a div with the class of splat and with the color of the splatBit.color, and the position of the splatBit.position, and the size of the splatBit.size -->
   <!-- the class of this element is splat and splatClass + the "animation" value of the splatBit -->
   <div *ngFor="let splat of splatBits"  
   [ngClass]="'splat' + ' splatClass' + splat.animation"
   [ngStyle]="{'background-color': splat.color, 'left.px': splat.left, 'top.px': splat.top, 'height.px': splat.size, 'width.px': splat.size, 'border-radius':splat.borderRadius }"></div>
   <!-- <div *ngFor="let splat of splatBits"  [ngStyle]="{'background-color': splat.color, 'left.px': splat.left, 'top.px': splat.top, 'height.px': splat.size, 'width.px': splat.size, 'border-radius':splat.borderRadius }"></div> -->
</div>

<div id="buttonDiv">
     <input id="keyDown" (keydown)="onKeydown($event)">

   <div class = "downloadButton" (click)="saveImage()">Download Image</div>
<div class = "saveBottom" (click)="savePainting()">Save Painting</div>

<div id="paintingList">
  <form id= "paintingsForm" (ngSubmit)="deployPainting()">
    <select name="paintings" id="paintings" [(ngModel)]="selectedNumber">
      <option *ngFor="let painting of paintings" 
      [value]="painting.id">{{painting.users}} {{painting.date}}
    </option>

    </select>
<input id = "deployPainting" style="" type="submit" value="Deploy Painting">

  </form>
</div>

<audio controls #audioPlayerc4>
  <source src="assets/c4.m4a" type="audio/mp4">
  Your browser does not support the audio element.
</audio>
<audio controls #audioPlayerd4>
  <source src="assets/d4.m4a" type="audio/mp4">
  Your browser does not support the audio element.
</audio>
<audio controls #audioPlayere4>
  <source src="assets/e4.m4a" type="audio/mp4">
  Your browser does not support the audio element.
</audio>
<audio controls #audioPlayerf4>
  <source src="assets/f4.m4a" type="audio/mp4">
  Your browser does not support the audio element.
</audio>
<audio controls #audioPlayerg4>
  <source src="assets/g4.m4a" type="audio/mp4">
  Your browser does not support the audio element.
</audio>
<audio controls #audioPlayerc5>
  <source src="assets/c5.m4a" type="audio/mp4">
  Your browser does not support the audio element.
</audio>
<audio controls #audioPlayerd5>
  <source src="assets/d5.m4a" type="audio/mp4">
  Your browser does not support the audio element.
</audio>
<audio controls #audioPlayere5>
  <source src="assets/e5.m4a" type="audio/mp4">
  Your browser does not support the audio element.
</audio>
<audio controls #audioPlayergflat>
  <source src="assets/gflat.m4a" type="audio/mp4">
  Your browser does not support the audio element.
</audio>

<audio controls #audioPlayergflat>
  <source src="assets/gflat.m4a" type="audio/mp4">
  Your browser does not support the audio element.
</audio>

<audio controls #audioPlayerpop1>
  <source src="assets/pop1.mp3" type="audio/mp4">
  Your browser does not support the audio element.
</audio>

</div>

  <!-- for each of the userinfomration.buttonStates, generate a div with the class of key, and a id of it index and a class that correspond with the buttonStates, if the state is true class = true if false, false -->

