<div class="gameroomContainer" >
<style>
  
</style>
<div *ngFor="let splash of splashes" 
[ngStyle]="{'position': 'absolute'}"
[style.height.px]="splash.size"
    [style.width.px]="splash.size"
    [style.border-radius.%]="50"
    [style.left.px]="splash.position.x" 
    [style.top.px]="splash.position.y" 
    [style.background-color]="splash.color">
    

  <!-- content here -->
</div>

<div *ngFor="let user of userInformation; index as i" class="piano" id="{{ user.name }}">
<!-- for each of the userinfomration.buttonStates, generate a div with the class of key, and a class that correspond with the buttonStates, if the state is true class = true if false, false -->
<!-- [ngClass]="[{button[j] ? 'pressed' : 'released'}]" -->
  <div *ngFor="let button of user.buttonStates index as j" [attr.itemId]="i"  class="key" [ngClass]="user.buttonStates[j]==true? 'pressed' : 'released'">
    <!-- {{button[j] ? 'pressed' : 'released'}} -->
    <div [ngStyle]="{'background-color': user.fingerColors[(27%(j+1))]}" class="finger">
    </div>
     <div [ngStyle]="{'background-color': user.fingerColors[(27%(j+1))+1]}" class="finger">
    </div>
     <div [ngStyle]="{'background-color': user.fingerColors[(27%(j+1))+2]}" class="finger">
    </div>
  </div>    

  </div>
   </div>
   <div class="splatCanvass">
   <!-- for each of the splatBits, generate a div with the class of splat and with the color of the splatBit.color, and the position of the splatBit.position, and the size of the splatBit.size -->
   <!-- the class of this element is splat and splatClass + the "animation" value of the splatBit -->
   <div *ngFor="let splat of splatBits"  
   [ngClass]="'splat' + ' splatClass' + splat.animation"
   [ngStyle]="{'background-color': splat.color, 'left.px': splat.left, 'top.px': splat.top, 'height.px': splat.size, 'width.px': splat.size, 'border-radius':splat.borderRadius }"></div>
   <!-- <div *ngFor="let splat of splatBits"  [ngStyle]="{'background-color': splat.color, 'left.px': splat.left, 'top.px': splat.top, 'height.px': splat.size, 'width.px': splat.size, 'border-radius':splat.borderRadius }"></div> -->
</div>
   <input (keydown)="onKeydown($event)" style = "position:absolute; height:50px; width:100%;top:40px">
<div class = "downloadButton" (click)="saveImage()">Download Image</div>
<div class = "saveBottom" (click)="savePainting()">Save Painting</div>

<div id="paintingList">
  <form (ngSubmit)="deployPainting()">
    <select name="painting" id="painting" [(ngModel)]="selectedNumber">
      <option *ngFor="let painting of paintings" 
      [value]="painting.id">{{painting.names}} {{painting.date}}
    </option>
    </select>


  </form>
</div>

  <!-- for each of the userinfomration.buttonStates, generate a div with the class of key, and a id of it index and a class that correspond with the buttonStates, if the state is true class = true if false, false -->

